/*Gestions des inputs*/
input {
    /*déjà en inline-block*/
    width: 200px;
    padding: 0.5px;
    vertical-align: top;
}

textarea {
    /*déjà en inline-block*/
    width: 500px;
    padding: 120px;
	vertical-align: top;
}

label {
    display: inline-block;
    width: 100px;
    margin-right: 20px;
    vertical-align: top;
    text-align: right;
}

/*Gestion des liens*/
a{color:blue}           /*les liens en général*/
a:hover{color:red}      /*quand on passe la souris sur un lien*/
a:active{color:green}   /*quand on clique sur le lien*/
a:visited{color:orange} /*quand le lien a déja été visité*/